@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.wrapper {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}
.ring {
  display: grid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  place-items: center;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: none;
}
